sample ques/xml_registration_form/xml2.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="RegistrationForm">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Scholar" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:byte" name="Roll_no"/>
              <xs:element type="xs:string" name="First_Name"/>
              <xs:element type="xs:string" name="Last_Name"/>
              <xs:element type="xs:string" name="Course"/>
              <xs:element type="xs:string" name="Registration_date"/>
              <xs:element type="xs:long" name="Mobile_number"/>
              <xs:element type="xs:string" name="Research_topic"/>
              <xs:element type="xs:string" name="Guide_name"/>
              <xs:element type="xs:string" name="Permanent_address"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>